.productItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.product {
    width: calc(100%/5);
    padding: 15px;
    cursor: pointer;
}

.content {
    background-color: rgb(187, 184, 184);
    padding: 5px 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.imagePic {
    text-align: center;
}
    